:root{
    --deep-violet: #2d203b;
    --clear-white: #e9e9e9;
    --nice-red: rgb(161, 53, 53);
    --nice-grey: rgb(211, 211, 211);
}

body{
    background-color: var(--clear-white);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    justify-items: center;
}

h1, h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: #2d203b;
}

header{
    background-color: var(--deep-violet);
    display: flex;
    justify-content: center;
    padding: 12px;
    margin: 0px;
    width: 100%;
    color: white;
}

footer{
    display: flex;
    justify-self: left;
    padding: 12px;
}

#gameframe{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    background-color: var(--nice-grey);
    padding: 24px;
    border-radius: 12px;
    justify-content: center;
}

#visualspace{
    display: flex;
    gap: 12px;
}

#elevatorcol{
    background-color: var(--deep-violet);
    width: 100px;
    display: flex;
    justify-content: right;
    padding: 12px;
    border-radius: 4px;
}

#floorscol{
    display: flex;
    background-color: var(--deep-violet);
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 12px;
    border-radius: 4px;
    justify-content: space-between;
}

#consolecol{
    background-color: var(--deep-violet);
    color: var(--clear-white);
    padding: 12px;
    border-radius: 4px;
}

#console{
    height: 530px;
    overflow-y:scroll;
    padding-right: 12px;
    display: flex;
    align-content: bottom;
}

.floorbtn{
    background-color: var(--nice-grey);
    border-style: none;
    height: 24px;
    border-radius: 4px;
}

.floorbtn:hover{
    background-color: var(--nice-red);
    cursor: pointer;
}

#elevator{
    background-color: var(--nice-red);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    border-bottom-style: double;
    border-color: var(--clear-white);
}

#visualspace{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

