:root{
    --deep-violet: #2d203b;
    --clear-white: #e9e9e9;
    --nice-red: rgb(161, 53, 53);
    --nice-grey: rgb(204, 189, 189);
    --light-violet: #ece7f0;
}

body{
    background-color: var(--clear-white);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:var(--light-violet);
}

h1, h2{
    margin-top: 0px;
    padding: 12px;
    margin-bottom: 0px;
}

a {
    color: #2d203b;
}

header{
    background-color: var(--deep-violet);
    display: flex;
    min-width: 100%;
    margin: 0px;
    color: white;
}

footer{
    display: flex;
    justify-self: left;
    background-color: var(--nice-grey);
    min-width: 100%;
}

footer p{
    padding: 12px;
}

.tools{
    display: flex;
    margin: 24px;
}

#toolbox{display: none;}
#notools{display: block;}

#gameframe{
    display: flex;
    flex-direction: row;
    background-color: var(--nice-grey);
    padding: 24px;
    border-radius: 4px;
    justify-content: center;
}

#visualspace{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#elevatorcol{
    background-color: var(--deep-violet);
    width: 100px;
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 12px;
    border-radius: 4px;
}

#elevator{
    background-color: var(--nice-red);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    border-bottom-style: double;
    border-color: var(--clear-white);
    position: relative;
    bottom: 0px; /* Elevator height changes here */

    /* Here are the different stages values */
    
    /* bottom: 120px;
    bottom: 250px;
    bottom: 390px;
    bottom: 510px; */
}

#floorscol{
    display: flex;
    background-color: var(--deep-violet);
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 12px;
    border-radius: 4px;
    justify-content: space-between;
}

#consolecol{
    background-color: var(--deep-violet);
    color: var(--clear-white);
    padding: 12px;
    border-radius: 4px;
    width: 300px;
}
#consolecol h2{
    margin: 0px;
    padding: 0px;
}

#console{
    height: 530px;
    overflow-y:scroll;
    padding-right: 12px;
    display: flex;
    align-content: bottom;
    flex-direction: column-reverse;
}

.floorbtn{
    background-color: var(--nice-grey);
    border-style: none;
    padding: 14px;
    border-radius: 4px;
    font-weight: bold;
}

.floorbtn:hover{
    background-color: var(--nice-red);
    cursor: pointer;
    color: var(--clear-white);
}

#visualspace{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

